:root {
  --gray: #B4B4B4;
  --gray-dark: #1F2223;
  --white: #FFFFFF;
  --black: #000000;
  --green: #00FF90;
  --blue: #2400B5;
  --magenta: #FD0080;
  --violet: #6036D5;
  --violet-light: #70679c;
  --social: #187CCB;
}

/* 900 */


html,
body {
  padding: 0;
  margin: 0;
  height: auto;
  font-family: 'Courier New', Courier, monospace;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-size: 16px;
}

body {
  background-size: cover;
  background-position: 50% 100%;
}

ul {
  margin: 0;
  padding: 0;
}

header{
  height: 100vh;
}

section {
  height: 100vh;
}


nav {
  background: url(../img/dotted.svg) 50% 50% no-repeat;
  background-size: contain;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

nav ul {
  justify-content: space-around;
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

nav ul li {
  padding: 10px 15px;
}

nav ul li a {
  color: var(--black);
  padding: 20px 10px;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--white);
  padding: 20px 10px;
  text-decoration: none;
}
nav ul li,
nav ul li a{
  transition: color 250ms ease, background-color 250ms ease;
}

nav ul li:hover {
  background-color: var(--black);
}

.nav-link-cuenta {
  background-color: var(--gray);
  -webkit-clip-path: polygon(0% 5%, 98% 10%, 100% 100%, 5% 90%);
  clip-path: polygon(0% 5%, 98% 10%, 100% 100%, 5% 90%);
}

.nav-link-formulario {
  background-color: var(--gray);
  -webkit-clip-path: (0% 0%, 98% 0%, 100% 90%, 0% 100%);
  clip-path: polygon(0% 0%, 98% 0%, 100% 90%, 0% 100%);
}

.nav-link-ubicacion {
  background-color: var(--gray);
  -webkit-clip-path: polygon(0% 0%, 100% 10%, 93% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 10%, 93% 100%, 0% 90%);
}

.nav-link-pregunta {
  background-color: var(--gray);
  -webkit-clip-path: polygon(1% 0%, 100% 0%, 95% 100%, 0% 90%);
  clip-path: polygon(1% 0%, 100% 0%, 95% 100%, 0% 90%);
}

.nav-link-transmision {
  background-color: var(--gray);
  -webkit-clip-path: polygon(0% 5%, 100% 10%, 100% 100%, 5% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 10% 100%);
}

.nav-link-selected {
  pointer-events: none;
  background-color: var(--blue);
}

.nav-link-selected a {
  color: var(--white);
}

.wrapper-head_up,
.wrapper-head_down{
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  pointer-events: none;
}