body {
  background-image: url("../img/backgrounds/cuenta.jpg");
}

.nav-link-selected{ 
  background-color: var(--blue);
}

.nav-link-selected a {
  color: var(--white);
}

.wrapper-head_up{
  background-image: url(../img/heads/cuenta-regresiva-arriba.png);
}

.wrapper-head_down{
  background-image: url(../img/heads/cuenta-regresiva-abajo.png);
}

section {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-wrapper {
  position: relative;
}

.countdown-envelope{
  z-index: -1;
  position: absolute;
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.countdown-logo{
  position: absolute;
   bottom: 20px;  
}
