@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-image: url("../img/backgrounds/pregunta.jpg");
}

.fuente-retro {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--violet-light);

}

.nav-link-selected {
  background-color: var(--blue);
}

.wrapper-head_up {
  background-image: url(../img/heads/pregunta-arriba.png);
}

.wrapper-head_down {
  background-image: url(../img/heads/pregunta-abajo.png);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pregunta {
  width: 630px;
  height: 350px;
  background: url(../img/monitor.png) 50% 50% no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  color: var(--violet-light);
  text-align: center;
}

.pregunta-texto{
  font-size: 30px;
  text-shadow: var(--violet) 0px 0px 10px;
}

.pregunta-input{
  border: 6px solid var(--violet-light);
  font-size: 30px;
  background-color: transparent;
  text-shadow: var(--violet) 0px 0px 10px;
  padding: 10px 20px;
  width: 80%;
  margin-bottom: 30px;
  border-radius: 5px
}

.pregunta-input:focus {
  outline: none;
}

.pregunta-button{
  font-size: 30px;
  border: 0px;
  background-color: transparent;
  text-shadow: var(--violet) 0px 0px 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: 6px solid var(--violet-light);
  border-radius: 10px
}

.pregunta-button:hover{
  background-color: var(--blue);
 
}