body {
  background-image: url("../img/backgrounds/transmision.jpg");
}

.nav-link-selected{ 
  background-color: var(--green);
  color: var(--black);
}

.nav-link-selected a {
  color: var(--black);
}
